In [1]:
# Import dependencies
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
import re
import pandas as pd
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup

In [2]:
 executable_path = {'executable_path': r"C:\Drivers\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

NASA Mars News

In [6]:
title = soup.find('div', class_="content_title")
title = title.text.strip()
print(title)

NASA Garners 7 Webby Award Nominations

In [14]:

news_p = soup.find('div', class_="article_teaser_body")
news_p = news_p.text.strip()
print(news_p)

November 20, 2019

JPL Mars Space Images - Featured Image

In [15]:

jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [16]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [17]:
image = soup.find(class_ = 'button fancybox')
image_url = image['data-fancybox-href']
image_url

'/spaceimages/images/mediumsize/PIA18328_ip.jpg'

In [18]:
featured_image_url= "https://www.jpl.nasa.gov" + image_url

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18328_ip.jpg

Mars Weather

In [19]:
mars_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_url)

In [20]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [21]:
tweets = soup.find(class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")
tweets = tweets.text.strip()
print(tweets)

InSight sol 349 (2019-11-19) low -103.2ºC (-153.8ºF) high -22.3ºC (-8.1ºF)
winds from the SSE at 4.8 m/s (10.7 mph) gusting to 18.4 m/s (41.1 mph)
pressure at 6.80 hPapic.twitter.com/8235o0ln3B

 Mars Facts

In [35]:
#Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
Marsfacts=pd.read_html('https://space-facts.com/mars/')
Marsfacts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [50]:
Marsfacts[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [56]:
Marsfacts_df=pd.DataFrame(Marsfacts[0])

Marsfacts_df.columns=["Description","value"]
Marsfacts_df
Marsfacts_df.set_index("Description", inplace=True)

In [57]:
Marsfacts_df

                                              value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [23]:
#Use Pandas to convert the data to a HTML table string.
#Render dataframe as html
facts_html = facts_df.to_html()
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

Mars Hemispheres

In [ ]:
#Finding the url of all the hemispheres
url__for_all_hemispheres ="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url__for_all_hemispheres)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#items that have hems info
all_items = soup.find("div", class_ = "result-list")
hem = all_items.find_all("div", class_ = "item")
#empty list
hems_url = []
# main_url = "https://astrogeology.usgs.gov"
#loooping through the all_items stored
# try:
for i in hem:
    
    title = i.find('h3').text
    title = title.replace("Enhanced", "")
    image_link = i.find("a")["href"]
        #full image source

    img_url = "https://astrogeology.usgs.gov/" + image_link
    browser.visit(img_url)
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    url = downloads.find("a")["href"]
    #Creating a dictionary
    dictionary = {"title": title, "img_url": image_url}
    #Appending the empty list to a dictionary
    hems_url.append(dictionary)
hems_url